.date{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ca9ac7;
    border: 1px solid #613986;
    width: 6rem;
    height: 6rem;
    border-radius: 6px;
}
.date__year, .date__month{
    font-size: .8rem;
}
.date__day{
    font-size: 1.4rem;
    color: white;
}